:root{
    /* Color styles */
    --marron-claire: rgba(194, 155, 79, 1);
    --blanc: rgba(255, 252, 243, 1);
    --brun: rgba(71, 47, 0, 1);
    --ciel: rgba(98, 148, 176, 1);
    --ciel-claire: rgba(128, 194, 232, 1);
    --gris-fonce: rgba(171, 171, 171, 1);
    --gris: rgba(225, 223, 215, 1);
    --gris-brun: rgba(34, 28, 15, 1);
    --noir: rgba(3, 3, 1, 1);
}