.Photo--musee{
    margin-top: 30px;
    width: 100%;
}
.Photo--texte{
    position: relative;
    z-index: 2;
    margin-top: -15vw;
    width: 100%;
    height: 50px;
    background: linear-gradient(rgba(71, 47, 0, 0.5), rgba(71, 47, 0, 1));
    color: var(--blanc);
}
.Photo--texte>p{
    transform: translate(0, 5px);
    margin-left: 4%;
    width: 92%;
}
.art{
    background-color: var(--blanc);
    text-align: center;
    padding-bottom: 20px;
}
.art>h3{
    padding-top: 10px;
}
.artistes{
    display: grid;
    grid-template-columns: 18.5% 18.5% 18.5% 18.5%;
    gap: 5.5%;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: var(--blanc);
}
.artistes>div>img{
    width: 100%;
    padding: 1px var(--gris-fonce);
}
.artistes>div>div{
    background-color: var(--gris);
    border: solid var(--gris-fonce) 1px;
    height: 50px;
    margin-top: -10px;
}
.artistes>div>div>p{
    font-size: 15px;
    width: 100%;
    margin-top: 10px;
}
#artistes--George>div>p{
    margin-left: 5%;
    width: 90%;
    font-size: 12px;
    margin-top: 5px;
}
.oeuvre{
    background-color: var(--blanc);
    width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.def p{
    margin-top: -60%;
    margin-left: 5%;
    width: 90%;
    color: var(--blanc);
}
.def p+p{
    margin-top: 10px;
}
.def--symbolisme{
    width: 100%;
}
